rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, update: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid
                    && request.resource.data.keys().hasAll(['displayName','createdAt','updatedAt','assessmentCompleted','difficultyPreference'])
                    && request.resource.data.difficultyPreference in ['beginner','normal','challenge'];
      allow delete: if false;
    }
  }
}
